<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.banana.iris">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Index"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:label="Register"
            android:parentActivityName=".Index">
        </activity>
        <activity
            android:name=".Login"
            android:label="Login"
            android:parentActivityName=".Index">
        </activity>
        <activity
            android:name=".goals"
            android:label="Goals">
        </activity>
        <activity
            android:name=".goal_index"
            android:label="@string/title_activity_goal_index"
            android:parentActivityName=".goals"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.banana.iris.goals"/>
        </activity>
    </application>

</manifest>